<div class="container">
  <slot />
</div>

<style>
  .container {
    display: grid;
    grid-template-columns:
      [viewport-start] 0px [centre-column-start] repeat(4, 1fr)
      [centre-column-end] 0px [viewport-end];
    column-gap: 12px;
    /* row-gap: 12px; */
    grid-auto-flow: dense;
  }

  @media (min-width: 480px) {
    .container {
      column-gap: 20px;
    }
  }
  @media (min-width: 740px) {
    .container {
      grid-template-columns:
        [viewport-start] 1fr [centre-column-start] repeat(12, 40px)
        [centre-column-end] 1fr [viewport-end];
    }
  }
  @media (min-width: 980px) {
    .container {
      grid-template-columns:
        [viewport-start] 1fr [centre-column-start] repeat(8, 60px)
        [centre-column-end right-column-start] repeat(4, 60px)
        [right-column-end] 1fr [viewport-end];
    }
  }
  @media (min-width: 1140px) {
    .container {
      grid-template-columns:
        [viewport-start] 1fr [left-column-start] repeat(2, 60px)
        [left-column-end centre-column-start] repeat(8, 60px)
        [centre-column-end right-column-start] repeat(4, 60px)
        [right-column-end] 1fr [viewport-end];
    }
  }
  @media (min-width: 1300px) {
    .container {
      grid-template-columns:
        [viewport-start] 1fr [left-column-start] repeat(3, 60px)
        [left-column-end centre-column-start] repeat(8, 60px)
        [centre-column-end] 60px [right-column-start] repeat(4, 60px)
        [right-column-end] 1fr [viewport-end];
    }
  }
</style>
